/* ========================================================================
  Records
========================================================================== */

.filter_row{
  display: flex;
  justify-content: center;
}

.margenesa{
  padding-bottom: 0%;
}

.card-height{
  height: 5px;
}