/* ========================================================================
  Left Nav
========================================================================== */

.nav-item span{
  font-size:1.15rem !important; 
}




/* ========================================================================
  Records
========================================================================== */

/* mygreen:#99CA6A */
/* myblue:#4D72DF */

.filter_row, .records_container, .center_elements{
  display: flex;
  justify-content: center;
}

.records-color{
  background-color: #99CA6A !important;
  color:red;
}

.title-style{
  color: white !important;
  font-size: 17px;
}

.body-style{
  font-size: 16px;

}

.filter_height{
  height: 2.5rem !important;
}

.color_white{
  color:white !important;
}

.text_left{
  text-align: left !important;
}



