/* ========================================================================
  Left Nav
========================================================================== */

.nav-item span{
  font-size:1.15rem !important; 
}



/* ========================================================================
  My-messages
========================================================================== */



.msj-title{
  margin-bottom: 2rem;
}

.new-message{
  font-weight:800; /* a bit bolder than bold*/
  border-width: 1px;
  border-style: solid;
  border-color: rgb(58, 172, 139);
  border-image: initial;
  -webkit-box-shadow: -5px 8px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 8px 20px 0px rgba(0,0,0,0.75);
  box-shadow: -5px 8px 20px 0px rgba(0,0,0,0.75);
}

.center_elements > card shadow{
  border-radius: 10px 10px 10px 10px;
}

.msj-whole-card{
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content:space-between;
}

.msj-whole-card:hover{
  border-width: 0.5px;
  border-style: solid;
  border-color: #4EBCDF;
}

.msj-card{
  width: 80%;
  display: flex;
  align-items: center;
}

.msj-date-and-bar{
  margin-top: 2%;
  margin-right: 2%;
  display: block;
}

.msj-image{
  margin-left: 2%;
}

.msj-derecho{
  display: flex;
}

.msj-fecha{
   margin-right:1rem; 
}

.div-link{
  cursor: pointer;
}



/* ========================================================================
  Records
========================================================================== */

/* mygreen:#99CA6A */
/* myblue:#4D72DF */

.filter_row, .records_container, .center_elements{
  display: flex;
  justify-content: center;
}

.records-color{
  background-color: #99CA6A !important;
  color:red;
}

.title-style{
  color: white !important;
  font-size: 17px;
}

.body-style{
  font-size: 16px;

}

.filter_height{
  height: 2.5rem !important;
}

.color_white{
  color:white !important;
}

.text_left{
  text-align: left !important;
}



