body {
  font-family: 'Lato', sans-serif;

}

.nav-tittle{
  /* font-family: 'Dancing Script', cursive !important; */
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 20px !important;
  /* background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  overflow: hidden;
  white-space: nowrap;
}

.tooltip-primary~.tooltip>.tooltip-inner {
  background-color: #0b8af0 ;
}

.tooltip-primary~.tooltip>.tooltip-arrow {
  border-bottom-color: #0b8af0;
}

.centered {
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: -3.25vh;
}

.smallCanvas{
  width: 30rem;
  height: 20rem;
}

.bigCanvas{
  width: 50vh;
}

.progress {
  border-radius: 0.188rem;
  height: 0.9rem;
  margin-top: 0.438rem;
}

.headerFlag{
  width: 2rem;
}

#headerTopFlag{
  width: 1.5rem;
  margin-left:0.5rem;
}

#languagesDropdown:hover{
  opacity: 0.7;
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
  .bigCanvas{
    width: 45vh;
  }
}



/* ========================================================================
  settings
========================================================================== */



.video-snap {
  /* width: 130px; */
  /* max-width: 8.125em; */
  /* max-width: 14vh; */
  /* height: auto; */

  max-width: 25%;
  min-width: 4em;
  max-height: 25%;
  min-height: 4em;

  margin: 0 auto;
  display: block;
  margin-bottom: 1.5rem;
  border: 0.375em solid #2196F3;
  border-radius: 0.375em;
  object-fit: fill;
}

.settings-container {
  padding: 50px 10%;
}

.settings-box  {
  background: #ffffff;
  width: 100%;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}

.box-tools,.box-tools-left {
  right: 0.625rem;
  top: 0.313rem;
}

.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  /* position: relative; */
  height: 150px;
}

.dropzone-desc {
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 50px;
  font-size: 16px;
}

.dropzone,
.dropzone:focus {
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}




.dNone{
  display: none;
}

.avatar-image{
  /* width: 12.5rem; */
  margin: 1rem 0 1rem 0;
  width: 12vw;
  height: 12vw;
}

.box.box-success {
    border-top-color: #00a65a;
}
.box {
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    border-top-color: rgb(210, 214, 222);
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-header > .box-tools {
    right: 10px;
    top: 5px;
}
.pull-right {
    float: right;
}
.pull-right {
    float: right !important;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.box.box-solid.box-success > .box-header {
    color: #fff;
    background: #00a65a;
    background-color: rgb(0, 166, 90);
    background-color: #00a65a;
}

.tab {
  margin-left: 0.8em;
 }



/* ========================================================================
  dashboard_news jumbotron
========================================================================== */

.jumbotron-container{
  font-family: 'News Cycle', sans-serif !important;
}


.jumbotron-image {
  background: rgba(0, 0, 0, 0.3);
  background-size: 100% !important;
  background-repeat: no-repeat;
}

.jumbotron-title{

  background: rgba(255,255,255, 0.5) !important; /* Black color with 50% alpha/opacity */

  /* border-radius:2rem; */
  text-align:left;
  /* text-decoration: underline;
  text-underline-offset:0.2em; */
  line-height: 1.6;
  color: black !important;
  font-size: 32pt;
  font-weight:bolder;
  letter-spacing: 0.1rem ; 
  
}

.jumbotron-h5{
   text-align:center;
}

.jumbotron-subtitle{
  opacity:0.9;
  color: black !important;
  border-radius:0.5rem;
  padding:0.5rem;
}

.jumbotron-container-right{
  display:flex;
  flex-direction: column;
  /* align-items:center; */
  /* align-items:center; */
  align-content:center;
  justify-content:center;
  margin-top:2rem;
}

.jumbotron-text{
  padding:2rem;
  margin-top:2rem;
}

.jumbotron-text, .jumbotron-date, .jumbotron-author{
  color:black !important;
  font-weight:bold;
  opacity:0.7;
  border-radius:0.1rem;
  text-align:left;
  font-size: large;
  line-height: 1.3;
}

.jumbotron-date{
  padding:1rem;
  text-align: right;
}

.jumbotron-author{
  padding:1rem;
  text-align: right;
}

.jumbotron-inner-date{
  word-wrap: break-word;
  word-break: break-all;
  display: block;
}

.jumbotron-link{
  text-align:center ;
  margin:auto !important;
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
  .jumbotron-title{
    font-size: 14pt;
  }
}


/* ========================================================================
  usersRoleEdit
========================================================================== */

.borderShadow{
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 2em;

  border-radius: 1em !important;
  box-shadow: 0.217em 0.217em 0.217em 0em rgba(0,0,0,0.75);
}

.users-picker{
  /* margin-top: 2em ; */
  margin-bottom: 2em ;

}

#tableUsersNotInRole{
  display: none;
  width:100%;
}


/* ========================================================================
  Messaging
========================================================================== */

@media (max-width: 768px) {
  .contactsList{
     /* background-color: yellow !important; */

     -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
     box-shadow: none !important;
     resize: none !important;
  }

  .messagingContainer{
    height: 80vh;
    
  }

  .messagingCardBody{
    padding-top: 0 !important;
    padding-right: 0 !important;
  }

  .conversation{
    display: none !important;
  }

  .cHeader button{
    display: inline;
    /* border-radius: 50%; */
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 13px; 
    text-align: center; 
    margin-left: 2%;
    margin-bottom: 1.5%;
  }

  .cHeader h4{
    display: inline;
    border-bottom: none !important;
    /* margin: 10%; */
  }

  .conversationMobile{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
  }

  .cMessagesFeed{
    /* border-top: 1px dashed #dfdfdf; */
    margin-top:1% !important;
    max-height: none !important;
    /* background: radial-gradient( #8fd5eb, #f2f2f2) !important; */
    cursor: default;
  }

  .cMessageComposer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cMessageComposer textarea{
    display: inline;
    height: 40px;
    border-radius: 25px !important;
    

  }

  .cMessageComposer i{
    /* width: 4%; */
    margin-right: 0.3em;
    display: inline;
    /* border-radius: 50%; */

    /* width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 20px; 
    text-align: center;  */

    /* margin-left: 2%;
    margin-bottom: 1.5%; */

    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 37px; 
    text-align: center;
    cursor: pointer; 
  }

  .contactsList li .contactInfo p {
    /* background: yellow; */
    /* display: none; */
  }
}

.scroller {
  /* Firefox */
  width: auto;
  height: auto;
  overflow-y: scroll;
  /* scrollbar-color: #0A4C95 #C2D2E4; */
  scrollbar-color:#808080 #C2D2E4;
  scrollbar-width: thin;


  /* -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -moz-border-radius: 10px;
  border-radius: 10px; */

  /* IE */
  scrollbar-base-color: #808080;
  scrollbar-face-color: #808080;
  scrollbar-3dlight-color: #dfdfdf;
  scrollbar-highlight-color: #f2f2f2;
  scrollbar-track-color: white;
  scrollbar-arrow-color: #a6a6a6;
  scrollbar-shadow-color: #a6a6a6;
  scrollbar-dark-shadow-color: #f2f2f2;

}

.scroller::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.scroller::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* background: #0A4C95; */
  /* background: #224ABE;  */
  /* background: #4EBCDF; */
  background: #808080;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.scroller::-webkit-scrollbar-thumb:window-inactive {
/* background: #81c4f9;  */
}

.messagingCardBody{
  padding-left: 0 !important;
}

.messagingContainer{
  display: flex;
  padding: 0;
}

.conversation{
  flex:5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* max-height: 400px; */
}

.cHeader h4{
  font-size: 24px;
  padding: 10px;
  margin:0;
  /* border-bottom: 1px dashed #dfdfdf; */
}

.selectAContact{
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectAContact span{
  font-size: 24px;
  font-weight: bold;
  /* background-color: #c0c0c0; */
  background-color: #224ABE;
  /* background: radial-gradient( #224ABE, #4EBCDF); */

  padding: 1px 20px;
  color:white;  
  border-radius: 25px !important;
  opacity: 0.6;

  position: relative;
  line-height: 0.9;
  text-align: center;
}

.cMessagesFeed{
  border-top: 1px dashed #dfdfdf;
  /* background-color: #f2f2f2; */
  /* background-image: linear-gradient(to right, #f2f2f2, rgba(255,0,0,1)); */
  /* background-image: linear-gradient(to bottom right,white, #ebebeb); */

  /* background-image: linear-gradient(to right, black, blue 50%, black 100%);

  background-repeat: no-repeat; */

  /* background: radial-gradient(#e66465, #9198e5); */
  /* background: radial-gradient( #4EBCDF, #f2f2f2); */
  /* background-image: url("/images/clouds.jpg"); */
  /* background-image: url("/images/sky.jpg"); */
  
  /* background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url("/images/sky.jpg") !important;   */

  background-position: 50% 100%;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;  
  /* background: radial-gradient( #8fd5eb, #f2f2f2); */

  height: 100%;
  /* max-height: 71vh; */
  max-height: 76vh;
  font-size: 15px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;  
}

.cMessagesFeed ul{
  padding: 5px;
}

.cMessagesFeed li{
  margin: 10px 0;
  width: 100%;
}

.cMessagesFeed .text{
  max-width: 100%;
  border-radius: 5px;
  padding: 12px;
  display: inline-block;
}

.cMessagesFeed .alienUser{
  text-align: right;
}

.cMessagesFeed .alienUser .text{
  /* background: #81c4f9; */
  /* background: #4EBCDF;
  color:white; */
  /* background-color: #224ABE; */
  /* opacity: 0.3; */


  background-color: rgba(34, 74, 190, 0.5);
  color: white;
  font-weight: bold;
}

.cMessagesFeed .alienUser .text:hover{
  /* cursor: pointer; */
}

.cMessagesFeed .text {
  /* background: #0F0F6D;
  color: #ffffff;
  cursor: pointer;
  font-size: 2em;
  padding: 1.5rem;
  border: 0; */
  font-family: Hack, monospace;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
}

.cMessagesFeed .text::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  position: absolute;
  left: 85%;
  top: 31%;
  right: 5%;
  bottom: 0;
  opacity: 0;
}

.cMessagesFeed .text:hover {
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px #0000ff61;
    padding: 1.5rem 3.5rem 1.5rem 1.5rem;
}

.cMessagesFeed .ownUser .text:hover {
  background:rgba(192,192,192,0.5);
}

.cMessagesFeed .alienUser .text:hover {
    background: #2b2bff;
}

.cMessagesFeed .text:hover .textIcon {
  display: block;
}

.cMessagesFeed .ownUser .text:hover .textIcon {
  -webkit-text-stroke: 2px black;
} 

.cMessagesFeed .alienUser .text:hover .textIcon {
  -webkit-text-stroke: 2px #F2F2F2;
} 

.cMessagesFeed .text:hover::after {
  opacity: 1;
  transition: all 0.5s;
}

.cMessagesFeed .textIcon{
  position:absolute;
  right:7px;
  top:0px;
  display: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-bottom: 1em;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
 }

 .cMessagesFeed .alienUser .dropdown-content{
    right:0.5em;
    top:4em;
    box-shadow: 0px 0px 16px 8px rgba(0,0,0,0.2);
 }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color:black;
}


.cMessagesFeed .ownUser{
  text-align: left;
}

.cMessagesFeed .ownUser .text{
  /* background: #a6a6a6; */
  background: #c0c0c0;
  font-weight: bold;
}

.cMessagesFeed .dateFeed{
  text-align: right;
  margin: 0 !important;
  font-weight: 100;
  font-style: italic;
  opacity: 0.7;
}

.cMessageComposer textarea{
  width: 96%;
  /* margin-top: 10px; */
  margin: 10px;
  resize:none;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  padding: 6px;
  background-color: #f2f2f2;
}

.cMessageComposer textarea:hover{
  border: 1px solid #81c4f9;
}

.contactsList{
  /* transform: perspective(400px) rotateY(-1deg); */
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.5);

  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 0px solid #000000;

  flex:2;
  /* max-height: 37.5em; */
  /* max-height: 75vh; */
  max-height: 80vh;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;  
  border-left: 1px solid #a6a6a6; 

  resize: vertical;
}

.contactsList:hover{
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.contactsList ul{
  padding-left: 0;
}
 
.contactsList li{
  margin: 0 !important;
  display: flex;
  border-bottom: 1px solid #a6a6a6;
  /* height: 5em; */
  position: relative;
  cursor: pointer;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.contactsList li:nth-child(odd) {
  background-color: #a6a6a6;
}

.contactsList li:nth-child(even) {
  background-color: #c0c0c0;
}


.contactsList li:hover{
  /* background-color: #4EBCDF; */
  /* background-color: white; */
  background-color: #f2f2f2;
}

.contactsList li:hover .dateInfo{
  color:#4EBCDF;
}

.contactsList .selectedContact{
  background-color: #224ABE !important;
  color:white;
}

.contactsList .selectedContact span{
  /* background: #82e0a8; */
  /* background: #4EBCDF !important; */
  /* background: yellow; */
  /* color:white !important; */
  /* color: black; */
}



.contactsList li .contactAvatar{
  flex: 1;
  display: flex;
  align-items: center;
}

.contactsList li .avatarContactSize{
  width: 3em;
  height: 3em;
  vertical-align: middle;
  border-radius: 50%;
  margin: 0 auto;
}

.contactsList li .contactInfo{
  flex: 2;
  overflow: hidden;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactsList li .contactInfo p{
  margin:0;
}

.contactsList li .contactInfo .fullName{
  font-weight: 900;
}

.contactsList li .contactInfo .dni{
  opacity: 0.7;
  font-style: italic;
}

.headerDate{
  font-size: 80% !important;
}

.header-unread {
  position: absolute;
  right:8%; 
  display:flex;
  justify-content: center;
  align-items: center;
}

.header-unread .unread{
  background: #4EBCDF;
  color:white;
  position: absolute;
  right:8%; 
  display:flex;
  font-weight: 700;
  min-width: 20px;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  font-size: 12px;
  padding: 0 4px;
  border-radius: 25px; 
}

.contactsList li .unread{
  /* background: #82e0a8; */
  background: #4EBCDF;
  /* background: yellow; */
  color:white;
  /* color: black; */
  position: absolute;
  right:8%; 
  top:30px;
  display:flex;
  font-weight: 700;
  min-width: 20px;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  font-size: 10px;
  padding: 0 4px;
  border-radius: 25px; 
}

.contactsList li .unread{
  /* background: #82e0a8; */
  background: #4EBCDF;
  /* background: yellow; */
  color:white;
  /* color: black; */
  position: absolute;
  right:8%; 
  top:30px;
  display:flex;
  font-weight: 700;
  min-width: 20px;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  font-size: 10px;
  padding: 0 4px;
  border-radius: 25px; 
}

.contactsList li .dateInfo{
  /* background: #4EBCDF; */
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  font-size: 10px;
  padding: 0 4px;
  border-radius: 25px;
  width: 90%;
  /* margin-right:25%; */
}

.cMessageComposer textarea{
  /* pointer-events: none; */
}

#chat-sound{
  display:none;
}


/* ========================================================================
  Video
========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Exo:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Teko:400,600&display=swap");
:root {
  --player-background: #23ce6b;
  --player-foreGround: #edf2f4;
  --player-controls: #106132;
  --hover-color: #1fb860;
  --font-family: 'Exo', sans-serif;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.04);
}

#video_container {
  /* max-width: 75.3%;
  padding-top: 56.25%; */
  max-width: 95%;
  padding-top: 71%;
  margin: 0px auto;
  border: 0.125em solid #645cff;
  position: relative;
  box-shadow: 0.0625em 0.0625em 0.6875em #9e9e9e;
  overflow: hidden;
}

.my_video {
  /* width: 130px; */
  /* max-width: 8.125em; */
  /* max-width: 14vh; */
  max-width: 25%;
  min-width: 4em;
  height: auto;
  position: absolute;
  right: 0.625em;
  top: 0.625em;
  border: 0.375em solid #2196F3;
  border-radius: 0.375em;
  z-index: 2;
}

#video_container > .user_video {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#callButton, #destroyButton, #joinButton{
  display: none;
  border-radius: 0.75em 0.75em 0.75em 0.75em;
  margin-top: -2em;
  margin-left: 3em;
}

.selectUserToCall{
  margin-right: 2em;
  margin-bottom: 2em;
}

@media (min-width: 768px) {
  #video_container {
    /* width: 500px;
    height: 380px; */
    max-width: 31.25em;
    height: 23.75em;
    padding-top: 0;
  }
}

video::-webkit-media-controls-fullscreen-button{
  display: none;
}

video::-webkit-media-controls-timeline{
  display: none;
}

#fScreen{
  z-index: 2;
  position: relative;
  background-color: transparent !important;
  margin-left: 3%;
}

.btn-video-end{
  margin-top: 1em !important;
  margin-bottom: 2em !important;
}

/* #contenedorVideo{
  display:none;
} */

.video-controls {
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #23ce6b;
  z-index: 2;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

#video_container:hover .video-controls {
	opacity: 0.9;
}

.video-controls .icon {
  position: absolute;
}

#volume-bar {
	width: 3.75em;
}

.video-controls .control-btn {
  padding: 0;
  height: 2.5em;
  min-height: 2.5em;
  min-width: 2.5em;
  width: 2.5em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  background-color: transparent;
  color: var(--player-controls);
  outline: 0;
  cursor: pointer;
}

.video-controls .control-btn:hover {
  color: var(--player-foreGround);
  background-color: var(--hover-color);
}

.video-controls .video-playback-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-controls .toggle-play-pause.play .pause-icon {
  display: none;
}

.video-controls .toggle-play-pause.pause .play-icon {
  display: none;
}

.video-controls .toggle-volume.on .volume-off {
  display: none;
}

.video-controls .toggle-volume.off .volume-on {
  display: none;
}

.video-controls .video-volume-control {
  width: 6.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4px;
}

.video-controls .video-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--player-controls);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 600;
  margin-left: auto;
  margin-right: 1%;
  padding: 0 4px;
}

/* ========================================================================
  IndexDashBoard
========================================================================== */

.indexImgContainer{
  margin-top:18%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-nav img{
  width: 9vh;
  height: auto;
  overflow: hidden;
}
.logo-nav{
  /* margin-top:0.5vh; */
}

@media
only screen 
and (max-width: 760px), (min-device-width: 768px) 
and (max-device-width: 1024px)  {
  .logoContainer{
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}

/* ========================================================================
  Modal
========================================================================== */
.btn-secondary:hover{
  color:black !important;
}

modal {
  overflow: hidden;
}

.modal-header {
  background-color:#18456b;
  color:white;
}

.modal-header .close {
  color:#fff;
}

.modal-header .close:hover {
  background-color: initial;
  color:#fff;
}

.modalMinimize{
  font-size: 14px !important;
  margin-top: -7px !important;  
}

caption {
  caption-side: top !important;
}

.toolbar {
  float: left; 
  margin-right:2%;
}


/* ========================================================================
  Disabled
========================================================================== */

  .isDisabled {
    /* color: currentColor; */
    cursor: not-allowed;
    opacity: 0.7;
    text-decoration: none;
    cursor: default;
    pointer-events: none;
  }

/* ========================================================================
  roleEdit
========================================================================== */

.tabla_permisos_roles{
  margin-left:auto;
  margin-right:auto;
}

.tabla_permisos_roles tbody{
  text-align: center;
}

.tabla_permisos_roles tbody label input{
  display: inline-block;
  vertical-align: bottom;
}

.tabla_permisos_roles thead th{
  min-width:8.75rem;
}




/* ========================================================================
  Left Nav
========================================================================== */

.nav-item span{
  font-size:1.15rem; 
  /* font-size:0.8rem !important;  */
}


/* ========================================================================
  Media queries
========================================================================== */

@media (max-width: 768px) {
  .sidebar {
    width: 7.5rem !important;
  }
}



/* ========================================================================
  My-messages
========================================================================== */



.msj-title{
  margin-bottom: 2rem;
}


.new-message{
  font-weight:800; /* a bit bolder than bold*/
  border-width: 1px;
  border-style: solid;
  border-color: rgb(58, 172, 139);
  border-image: initial;
  -webkit-box-shadow: -5px 8px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 8px 20px 0px rgba(0,0,0,0.75);
  box-shadow: -5px 8px 20px 0px rgba(0,0,0,0.75);
}

.center_elements > card shadow{
  border-radius: 10px 10px 10px 10px;
}

.msj-whole-card{
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content:space-between;
}

.msj-whole-card:hover{
  border-width: 0.5px;
  border-style: solid;
  border-color: #4EBCDF;
}

.msj-card{
  width: 80%;
  display: flex;
  align-items: center;
}

.msj-date-and-bar{
  margin-top: 2%;
  margin-right: 2%;
  display: block;
}

.msj-image{
  margin-left: 2%;
}

.msj-derecho{
  display: flex;
}

.msj-fecha{
   margin-right:1rem; 
}

.div-link{
  cursor: pointer;
}



/* ========================================================================
  Records
========================================================================== */

/* mygreen:#99CA6A */
/* myblue:#4D72DF */

.filter_row, .records_container, .center_elements{
  display: flex;
  justify-content: center;
}

.records-color{
  background-color: #99CA6A !important;
  color:red;
}

.title-style{
  color: white !important;
  font-size: 17px;
}

.body-style{
  font-size: 16px;
}

.filter_height{
  height: 2.5rem !important;
}

.color_white{
  color:white !important;
}

.text_left{
  text-align: left !important;
}

.card-btn{
  color:whitesmoke !important;
  cursor: pointer;
}

/* ========================================================================
  SMS
========================================================================== */

.smsPhoneContainer{
  padding:20px;
}

#error-msg{
  color:#EA4335;
}

#valid-msg{
  color:#4EBCDF;
}

/* ========================================================================
  New User Mail
========================================================================== */


.errorShown{
  list-style-type:none;
  margin-bottom: 0;
}

#bDate::before { 
  content: attr(data-placeholder);
  width: 100%;
  height: auto;
}

/* hide our custom/fake placeholder text when in focus to show the default
 * 'mm/dd/yyyy' value and when valid to show the users' date_of_birth value.
 */
 #bDate:focus::before,
 #bDate:valid::before { display: none }






 /* @media (max-width: 480px) {
  .table > tbody > tr td {
      display: inline-block !important;
      width: 100% !important;
  }
  .table > tbody > tr td input {
      width: 100% !important;
  }
}
 */

 /* Schedule */

 .hv-schedule{
  display: flex;
  flex-wrap: wrap;
}
.hv-schedule .hv-header {
  
  display: flex;
  width: 100%;
}
.hv-schedule .hv-header div{
  background-color: #CCC;
  width: 12.5%;
  border-left: 1px solid #CCC;
  padding: 5px;
  text-align: center;
}
.hv-schedule .hv-header div:last-child{
  border-right:1px solid #CCC;
}
.hv-schedule .hv-hours {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 70vh;
  overflow-y:scroll;
}
.hv-schedule .hv-hours .hv-row {
  display:flex;
  width: 100%;
}
.hv-schedule .hv-hours .hv-row div{
  background-color: #FCFCFC;
  width: 12.5%;
  border-left: 1px solid #CCC;
  border-bottom:1px solid #CCC;
  /* padding: 5px; */
}
.hv-schedule .hv-hours .hv-row div:last-child{
  border-right: 1px solid #CCC;
}
.hv-time-caption{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#appointmentsSchedule .hv-half{
  width: 100%; 
  height: 50% ;
  display: block; 
  overflow: hidden; 
  border-style: inset; 
  /* background-color: red !important; */
  cursor: not-allowed;
}
.hv-time-selection-active{
  background-color: #81c4f9 !important;
  cursor: pointer !important;
}
.hv-time-selection{
  cursor: pointer;
} 
#mainStaffScheduleBody .hv-time-selection:hover{
  background-color: #e6e6e6 !important;
}
/*  */
#mainStaffScheduleBody .hv-time-selection-active:hover{
  background-color: #cae6fc !important;
}

.hv-first-half{
  border-bottom:1px solid #CCC;
}
.hv-time-selection-occupied{
  background-color: #a6a6a6 !important;
  cursor: not-allowed !important;
}
.hv-time-selection-occupied:hover{
  background-color: #a6a6a6 !important;
}
.hv-time-selected{
  background-color: #0b8af0 !important;
}
.cursorPointer{
  cursor: pointer !important;
}
.cursorNotAllowed{
  cursor: not-allowed !important;
}
.color-selection-active{
  background-color: #cae6fc !important;
}

#createButton{
  display: none;
}
.tooltip.top .tooltip-arrow,
.tooltip-inner {
    border:none;
    box-shadow:none;
    outline:none;
}
