
/* ========================================================================
  usersRoleEdit
========================================================================== */
.borderShadow{
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 2em;

  border-radius: 1em !important;
  box-shadow: 0.217em 0.217em 0.217em 0em rgba(0,0,0,0.75);
}

.users-picker{
  /* margin-top: 2em ; */
  margin-bottom: 2em ;

}

#tableUsersNotInRole{
  display: none;
  width:100%;
}



/* ========================================================================
  Video
========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Exo:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Teko:400,600&display=swap");
:root {
  --player-background: #23ce6b;
  --player-foreGround: #edf2f4;
  --player-controls: #106132;
  --hover-color: #1fb860;
  --font-family: 'Exo', sans-serif;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.04);
}

#video_container {
  /* max-width: 75.3%;
  padding-top: 56.25%; */
  max-width: 95%;
  padding-top: 71%;
  margin: 0px auto;
  border: 0.125em solid #645cff;
  position: relative;
  box-shadow: 0.0625em 0.0625em 0.6875em #9e9e9e;
  overflow: hidden;
}

.my_video {
  /* width: 130px; */
  /* max-width: 8.125em; */
  /* max-width: 14vh; */
  max-width: 25%;
  min-width: 4em;
  height: auto;
  position: absolute;
  right: 0.625em;
  top: 0.625em;
  border: 0.375em solid #2196F3;
  border-radius: 0.375em;
  z-index: 2;
}

#video_container > .user_video {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#callButton, #destroyButton{
  display: none;
  border-radius: 0.75em 0.75em 0.75em 0.75em;
  margin-top: -2em;
  margin-left: 3em;
}

.selectUserToCall{
  margin-right: 2em;
  margin-bottom: 2em;
}

@media (min-width: 768px) {
  #video_container {
    /* width: 500px;
    height: 380px; */
    max-width: 31.25em;
    height: 23.75em;
    padding-top: 0;
  }
}

video::-webkit-media-controls-fullscreen-button{
  display: none;
}

video::-webkit-media-controls-timeline{
  display: none;
}

#fScreen{
  z-index: 2;
  position: relative;
  background-color: transparent !important;
  margin-left: 3%;
}

.btn-video-end{
  margin-top: 1em !important;
  margin-bottom: 2em !important;
}

/* #contenedorVideo{
  display:none;
} */

.video-controls {
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #23ce6b;
  z-index: 2;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

#video_container:hover .video-controls {
	opacity: 0.9;
}

.video-controls .icon {
  position: absolute;
}

#volume-bar {
	width: 3.75em;
}

.video-controls .control-btn {
  padding: 0;
  height: 2.5em;
  min-height: 2.5em;
  min-width: 2.5em;
  width: 2.5em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  background-color: transparent;
  color: var(--player-controls);
  outline: 0;
  cursor: pointer;
}

.video-controls .control-btn:hover {
  color: var(--player-foreGround);
  background-color: var(--hover-color);
}

.video-controls .video-playback-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-controls .toggle-play-pause.play .pause-icon {
  display: none;
}

.video-controls .toggle-play-pause.pause .play-icon {
  display: none;
}

.video-controls .toggle-volume.on .volume-off {
  display: none;
}

.video-controls .toggle-volume.off .volume-on {
  display: none;
}

.video-controls .video-volume-control {
  width: 6.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4px;
}

.video-controls .video-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--player-controls);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 600;
  margin-left: auto;
  margin-right: 1%;
  padding: 0 4px;
}


/* ========================================================================
  Modal
========================================================================== */
.btn-secondary:hover{
  color:black !important;
}

modal {
  overflow: hidden;
}

.modal-header {
  background-color:#18456b;
  color:white;
}

.modal-header .close {
  color:#fff;
}

.modal-header .close:hover {
  background-color: initial;
  color:#fff;
}

.modalMinimize{
  font-size: 14px !important;
  margin-top: -7px !important;  
}

caption {
  caption-side: top !important;
}

.toolbar {
  float: left; 
  margin-right:2%;
}


/* ========================================================================
  roleEdit
========================================================================== */

.tabla_permisos_roles{
  margin-left:auto;
  margin-right:auto;
}

.tabla_permisos_roles tbody{
  text-align: center;
}

.tabla_permisos_roles tbody label input{
  display: inline-block;
  vertical-align: bottom;
}

.tabla_permisos_roles thead th{
  min-width:8.75rem;
}




/* ========================================================================
  Left Nav
========================================================================== */

.nav-item span{
  font-size:1.15rem; 
  /* font-size:0.8rem !important;  */
}


/* ========================================================================
  Media queries
========================================================================== */

@media (max-width: 768px) {
  .sidebar {
    width: 7.5rem !important;
  }
}



/* ========================================================================
  My-messages
========================================================================== */



.msj-title{
  margin-bottom: 2rem;
}


.new-message{
  font-weight:800; /* a bit bolder than bold*/
  border-width: 1px;
  border-style: solid;
  border-color: rgb(58, 172, 139);
  border-image: initial;
  -webkit-box-shadow: -5px 8px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 8px 20px 0px rgba(0,0,0,0.75);
  box-shadow: -5px 8px 20px 0px rgba(0,0,0,0.75);
}

.center_elements > card shadow{
  border-radius: 10px 10px 10px 10px;
}

.msj-whole-card{
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content:space-between;
}

.msj-whole-card:hover{
  border-width: 0.5px;
  border-style: solid;
  border-color: #4EBCDF;
}

.msj-card{
  width: 80%;
  display: flex;
  align-items: center;
}

.msj-date-and-bar{
  margin-top: 2%;
  margin-right: 2%;
  display: block;
}

.msj-image{
  margin-left: 2%;
}

.msj-derecho{
  display: flex;
}

.msj-fecha{
   margin-right:1rem; 
}

.div-link{
  cursor: pointer;
}



/* ========================================================================
  Records
========================================================================== */

/* mygreen:#99CA6A */
/* myblue:#4D72DF */

.filter_row, .records_container, .center_elements{
  display: flex;
  justify-content: center;
}

.records-color{
  background-color: #99CA6A !important;
  color:red;
}

.title-style{
  color: white !important;
  font-size: 17px;
}

.body-style{
  font-size: 16px;
}

.filter_height{
  height: 2.5rem !important;
}

.color_white{
  color:white !important;
}

.text_left{
  text-align: left !important;
}

.card-btn{
  color:whitesmoke !important;
  cursor: pointer;
}

/* ========================================================================
  Logged
========================================================================== */

.dNone{
  display: none;
}
