
 /* @media (max-width: 480px) {
  .table > tbody > tr td {
      display: inline-block !important;
      width: 100% !important;
  }
  .table > tbody > tr td input {
      width: 100% !important;
  }
}
 */

 /*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		#takeScreenshot{
			/* white-space: revert; */
			/* margin: 9%; */
			/* position: relative; */
			/* left: 0; */

			/* padding-right: 3rem	!important;
			margin-right: 3rem !important; */

			margin-left:-20%;
			/* margin-left:-15%;
			margin-top:10%;
			margin-bottom: 10%; */


			/* margin-right: 10%;
			text-align: justify;
			display: block;
			word-break:break-all;
			overflow-wrap: break-word; */

			/* display: flex !important;
			flex-wrap: wrap;
			padding: 10px; */
		
			/* white-space: normal; */
			/* width: 100px;
			height:120px; */
		}

		.avatar-image{
			display: block;
		}

		#avatar-container{
			display: block;
		}

		#avatar-container::before{
			content: "\A";
			white-space: pre;	
		}

		#profile-picture-container b{
			/* margin-top: 40px; */
		}

		#deleteImage{
			margin-top: 5%;
			margin-bottom: 15%;
		}

		#hide-image-container{
			visibility: hidden;
		}

		#phone-label{
			display: inherit !important;
		}
		  
		#valid-msg, #error-msg{
			display: block;
		}
		
		#smsPhone, .iti--allow-dropdown{
		width: 100% !important;
		}

		#mainTableRoles thead th{
			/* display: block; */
		}

		/* Force table to not be like tables anymore */
		.changableTable table, .changableTable thead, .changableTable tbody, .changableTable th, .changableTable td, .changableTable tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		.changableTable thead tr {
			position: absolute !important;
			top: -9999px !important;
			left: -9999px !important;
		}

		.changableTable tr {
		margin: 0 0 1rem 0 !important;
		}
		
		.changableTable tr:nth-child(odd) {
		background: #ccc !important;
		}
		
		.changableTable td {
			/* Behave  like a "row" */
			border: none !important;
			border-bottom: 1px solid #eee !important;
			position: relative !important;
			padding-left: 50% !important;
		}

		.changableTable td::after,td::before {
			position: absolute !important;
			top: 6px !important;
			left: 6px !important;
			width: 45% !important;
			padding-right: 10px !important;
			white-space: nowrap !important;
			content: attr(data-header) !important;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		/* td:nth-of-type(1):before { content: "Nombre de rol"; }
		td:nth-of-type(2):before { content: "Ver usuarios"; }
		td:nth-of-type(3):before { content: "Usuario creador"; }
		td:nth-of-type(4):before { content: "Num. usuarios aplicados"; }
		td:nth-of-type(5):before { content: "Editar"; }
		td:nth-of-type(6):before { content: "Eliminar"; }
		td:nth-of-type(7):before { content: "Date of Birth"; }
		td:nth-of-type(8):before { content: "Dream Vacation City"; }
		td:nth-of-type(9):before { content: "GPA"; }
		td:nth-of-type(10):before { content: "Arbitrary Data"; } */
	}
